extends layout

block content
  div.container-fluid
    div.row
      div#sidebar(class="col-sm-3 col-md-2 sidebar")
        ul.nav.nav-sidebar
          each i in [1,2,3,4,5]
            li
              a(href="#")= "Lesson "+ i
      include workspace.jade
