#workspace
  h2 Workspace
  p
    | This is a module which should be able to act as a typing window.
    | A line of non editable line which acts as the guide and a line of
    | editable line whicj acts as the practice line.
