<div class="container">
    <div class="row alert alert-danger" role="alert" ng-hide="!lstoreStatus">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        You are using a browser without local storage support. So Thattachu <strong>cannot</strong> store your course progress. Manually select the course you wish to practise.
    </div>

    <form>
    <div class="row">
        <div class="col-sm-6">
            <h3>Step 1: Language</h3>
            <select id="lang" class="form-control" name="language" ng-model="lang" ng-change='populateInputMethods()'>
                <option value="">Select a language</option>
                <option ng-repeat="language in languages" value="{{language.code}}">
                {{language.name}}
                </option>
            </select>
        </div>
        <div class="col-sm-6">
            <h3>Step 2: Input method</h3>
            <select id="inputmethod" class="form-control" name="inputmethod" ng-model="inmethod" ng-change="populateCourses()">
                <option value="">Select an input method</option>
                <option ng-repeat="method in methods" value="{{method.code}}">{{method.name}}</option>
            </select>
        </div>
    </div>

    </form>
</div>

