<div class="container">
    <div class="row alert alert-danger" role="alert" ng-hide="!lstoreStatus">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        You are using a browser without local storage support. So Thattachu <strong>cannot</strong> store your course progress. Manually select the course you wish to practise.
    </div>

    <form id="entryForm">
    <div class="row">
        <div class="col-sm-6">
            <h3>Step 1: Language</h3>
            <select id="lang" class="form-control" name="language" ng-model="lang" ng-change='populateInputMethods()'>
                <option value="">Select a language</option>
                <option ng-repeat="language in languages" value="{{language.code}}">
                {{language.code}}-{{language.name}}
                </option>
            </select>
        </div>
        <div class="col-sm-6">
            <h3>Step 2: Input method</h3>
            <select id="inputmethod" class="form-control" name="inputmethod" ng-model="inmethod" ng-change="populateCourses()">
                <option value="">Select an input method</option>
                <option ng-repeat="method in methods" value="{{method.code}}">{{method.name}}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <h3>Step 3: Select Course</h3>
        <table id="courselist" class="table table-striped table-bordered">
            <tr>
                <th ng-click="orderParam='id'; reverse=!reverse">Id
                    <span class="pull-right glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="reverse && orderParam=='id'"></span>
                    <span class="pull-right glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="!reverse && orderParam=='id'"></span>
                </th>
                <th ng-click="orderParam='name'; reverse=!reverse">Course Name and Description
                    <span class="pull-right glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="reverse && orderParam=='name'"></span>
                    <span class="pull-right glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="!reverse && orderParam=='name'"></span>
                </th>
                <th ng-click="orderParam='level'; reverse=!reverse">Level
                    <span class="pull-right glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="reverse && orderParam=='level'"></span>
                    <span class="pull-right glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="!reverse && orderParam=='level'"></span>
                </th>
                <th ng-click="orderParam='author'; reverse=!reverse">Author
                    <span class="pull-right glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="reverse && orderParam=='author'"></span>
                    <span class="pull-right glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="!reverse && orderParam=='author'"></span>
                </th>
                <th ng-click="orderParam='lessoncount'; reverse=!reverse">No of lessons
                    <span class="pull-right glyphicon glyphicon-chevron-up" aria-hidden="true" ng-show="reverse && orderParam=='lessoncount'"></span>
                    <span class="pull-right glyphicon glyphicon-chevron-down" aria-hidden="true" ng-show="!reverse && orderParam=='lessoncount'"></span>
                </th>
            </tr>
            <tr ng-repeat="course in courses =(courselist | filter:inmethod | orderBy:orderParam:reverse)">
                <td>{{course.id}}</td>
                <td><a href="#/workbench" ng-click="setCourse(course)">{{course.name}}</a><br><small>{{course.description}}</small></td>
                <td>{{course.level}}</td>
                <td>{{course.author}}</td>
                <td>{{course.lessoncount}}</td>
            </tr>
        </table>
    </div>
    <div class="row alert alert-danger" ng-show="!courses.length && courseReqMade">
        <div class="col-12" role="alert">
            <p><strong>Cannot find a course?</strong></p>
            <p><a href="http://www.srik.me/asiriyar/">Thattachu Asiriyar</a> is a tool that lets people create course files for Thattachu typing tutor. Use the tool and create a course for your language and input or forward the link to someone who can create a course.</p>
            <a class="btn btn-success pull-right" href="http://www.srik.me/asiriyar/">Create Course</a>
        </div>
    </div>

    </form>
</div>

