<div class="container">
<div class="jumbotron">
    <h1>Thattachu</h1>
    <p>Welcome to Thattachu. A simple typing tutor where you can learn typing in <em>multiple</em> keyboard layouts of <em>multiple</em> languages.</p>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>Step 1</h3>
        <p>
        <strong>Choose Language</strong><br/>
        Thattachu provides ability to learn typing for 62 languages supported by <a href="https://github.com/wikimedia/jquery.ime">jQuery IME</a>.
        Choose the language you want to learn.
        </p>
    </div>
    <div class="col-sm-4">
        <h3>Step 2</h3>
        <p><strong>Choose Layout</strong><br/>
        Usually there are multiple keyboard layouts and input methods for a language. Choose the layout you want to practice.
        </p>
    </div>
    <div class="col-sm-4">
        <h3>Step 3</h3>
        <p><strong>Choose Course</strong><br/>
        <em>If there are available courses</em> for the language and the input type you selected, we list them. You choose, you learn at your pace.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <a href="#/courses" class="btn btn-primary btn-lg pull-right">Begin typing</a>
    </div>
</div>
<hr/>
<p><small>Created using AngularJS and Bootstrap by <a href="http://www.arunmozhi.in">Arunmozhi</a>. Open<a href="https://github.com/tecoholic/thattachu">Source</a> - MIT licensed.</p>

</div>
